<div class="row">
    <div class="col-md">
        <p class="h4"><i class="far fa-calendar-alt"></i> <%= @event[:date] %> </p>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <br><br>
        <h4>RSVPs</h4>
        <div class="media">
            <i class="far fa-thumbs-up"></i>
            <div class="media-body">
                <h5 class="mt-0"> Brian </h5>
                Wouldn't miss it!
            </div>
        </div>
        <button type="button" href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</button>
    </div>
    <div class="col-md">
        <p class="h4">When?</p>
        <p> <%= @event[:date] %> </p>
        <p class="h4">Where?</p>
        <p> <%= @event[:location] %> </p>
        <p class="h4">How many guests so far?</p>
    </div>
</div>